{% extends 'base.html.twig' %}

{% block title %}Query{% endblock %}

{% block body %}
    <h1>Query</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ query.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ query.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ query.email }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ query.message }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('query_index') }}">back to list</a>

    <a href="{{ path('query_edit', {'id': query.id}) }}">edit</a>

    {{ include('query/_delete_form.html.twig') }}
{% endblock %}
